
# reg_model.ipynb and up_or_down_model.ipynb requirements
matplotlib==3.5.1
numpy==1.21.5
pandas==1.3.5
python-dotenv==0.21.0
requests==2.27.1
scikit_learn==1.1.2
tensorflow==2.10.0

# non-machine-learning-strategies requirements
Backtesting==0.3.3
numpy==1.21.5
pandas==1.3.5
pandas_ta==0.3.14b0
plotly==5.6.0
yfinance==0.1.77
